$background: #003249;
$black: #000;

.pedalmap-header {
  font-size: 78px;
  text-align: center;
  color: #fff;
  text-shadow: 8px 8px 10px black;

}

body {
  background-image: url('https://i.imgur.com/PvMjacT.jpg');
}

.full .col-md-8 {
  text-align: center;
  box-shadow: 8px 8px 10px black;
  background-color: $background;
  border: 2px solid $black;
  color: $black;
  opacity: .97;
  padding: 10px;
}

.board-image {
  border: 3px solid black;
  border-radius: 3px;
}

.ember-text-field {
  margin: 0 auto;
  max-width: 400px;
}

.pedal-image {
  max-height: 600px;
  max-width: 300px;
}
