{{!-- INDEX TEMPLATE --}}

<div class="welcome">
  <p>
    Welcome to Pedal Map! Musicians tend to switch up their equiptment
    often, and suffer from what is known as GAS (gear aquisition syndrome).
    This app is here to help maintain a public database of all effects pedal units (both in production and out of production) and organize them onto users' effects pedal boards.
  </p>
</div>
<img class='welcome-image' src="http://www.dawsons.co.uk/blog/wp-content/uploads/2016/11/Header-new.jpg"><br><br>

{{#link-to 'boards'}}
  <button class='btn btn-lg index-boards'>Index Boards</button>
{{/link-to}}

{{#link-to 'pedals'}}
  <button class='btn btn-lg index-pedals'>Index Pedals</button>
{{/link-to}}
