{{!-- INDEX TEMPLATE --}}

<p>Welcome to Pedal Map! Musicians tend to switch up their equiptment
often, and suffer from what is known as GAS (gear aquisition syndrome).
This app is here to help you fuel your constant craving for new toys!</p>

{{#link-to 'boards'}}
  <button class='btn index-boards'>Index Boards</button>
{{/link-to}}

{{#link-to 'pedals'}}
  <button class='btn index-pedals'>Index Pedals</button>
{{/link-to}}
