<h4>
  {{#link-to 'board' board}}
    {{board.name}}
  {{/link-to}}
  <button class='btn btn-default btn-xs' {{action 'editBoard'}}>Edit</button>

  {{!-- {{#if isEmpty}}
    <button class='btn btn-default btn-xs btn-danger' {{action 'deleteBoard'}}>Delete</button>
  {{/if}} --}}

</h4>
