<h2>Your Saved Boards:</h2>

{{#each model as |board|}}
  {{board-details/card board=board
                       cancel='cancelCreateBoard'
                       edit='editBoard'}}
{{/each}}

{{#link-to 'boards/new'}}
  <button class="btn">Add a New Board</button>
{{/link-to}}
