<h4>Your Boards</h4>

{{#each model as |board|}}
  {{board-card board=board deleteBoard='deleteBoard'
                                cancel='cancelCreateBoard'
                                editBoard='editBoard'}}
{{/each}}

{{#link-to 'boards/new'}}
  <button class="btn">Add Board</button>
{{/link-to}}
