<h2>All Pedals</h2>
<hr>

{{#each model as |pedal|}}
  {{pedal-card pedal=pedal deletePedal='deletePedal'
                           cancel='cancelCreatePedal'
                           editPedal='editPedal'}}
{{/each}}
<hr>

<span>If you can't find a certain pedal you can add one</span>
{{#link-to 'pedals/new'}}
  <button class="btn btn-xs">here</button>
{{/link-to}}
