<h3 class="board-header">{{board.name}}</h3>

Length: {{board.length}} <br>
Width: {{board.width}}

{{!-- {{#each board.length as |length|}}
  {{board-details/item item=item
                    toggleDone='toggleItemDone'
                    delete='deleteItem'}}
{{/each}} --}}
